:root {

  --color-primary: #2F2E41;
  --color-primary-hover: #D2202C;

  --color-grey: #707070;
  --color-white: #FFFFFF;
  --color-bg: #F5F5F7;

  --color-bg-light: #424146;
  --color-bg-dark: #323237;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

#avasus{
  display: flex;
  flex-direction: column;
}

